* {
    box-sizing: border-box; }
  
  body {
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
    color: #FFFFFF; }
  
  .row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -15px;
    margin-right: -15px;
    flex: 0 0 100%;
    flex-wrap: wrap; }
  